@font-face { font-family: Calculator; src: url("Calculator.ttf"); }

:root {
    background-image: linear-gradient(#1cb5e0, #000046 );
    background-attachment: fixed;
    height: 100%;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

  *:focus {
      outline: none;
  }

  #title {
      font-family: Calculator, sans-serif;
      text-align: center;
  }

  #calcTitle {
      font-size: 100px;
  }

  #name {
      font-size: 30px;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  .calculator {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
  }
  
  .calculator-screen {
    width: 100%;
    font-family: Calculator, sans-serif;
    font-size: 5rem;
    color: #ff0000;
    height: 80px;
    border: none;
    background-color: #252525;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
  }
  
  button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-family: Calculator, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #668ad8;
    background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
    text-shadow: 0 1px rgba(255,255,255,.4);
  }
  
  button:hover {
    background-color: #f7f9fa;
  }

  #equals {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
  }
  
  .operator {
    font-family: Calculator, sans-serif;
    color: black;
    background-color: #0096fa;
    border-color: #337cac;
  }

  .operator:hover {
    background-color: #4e9ed4;
  }
  
  .all-clear {
    background-color: #f0595f;
    border-color: #b0353a;
    color: black;
  }
  
  .all-clear:hover {
    background-color: #f17377;
  }
  
  .equal-sign {
    background-color: #0096fa;
    border-color: #337cac;
    color: black;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
  }
  
  .equal-sign:hover {
    background-color: #4e9ed4;
  }
  
  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background: white;
  }

  #tooLong {
    font-size: 40px;
  }

/* Push Effect */
@-webkit-keyframes hvr-push {
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes hvr-push {
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  .hvr-push {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
   .hvr-push:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }