#gridContainer {
    display: grid;
    grid-template-columns: 5% 5% 5% 5%;
    grid-template-rows: 40% 40% 40% 40%;
    grid-column-gap: 0;
    
}

.gridItem {
    
    text-align: center;
}

#screen {
    text-align: center;
}